<img class="header-ikon" alt="NAV logo"
     src="{{ image "navlogo.png" }}"/>

<div class="enhet-info">
    <table>
        <tr>
            <td>Enhet:</td>
            <td>{{ sak.navenhet }}</td>
        </tr>
    </table>
</div>

<div class="generell-info">
    <table>
        <tr>
            <td>Virksomhet:</td>
            <td>{{ virksomhet.navn }}</td>
        </tr>
        <tr>
            <td>Organisasjonsnummer:</td>
            <td>{{ virksomhet.orgnummer }}</td>
        </tr>
        <tr>
            <td>Saksnummer:</td>
            <td>{{ sak.saksnummer }}</td>
        </tr>
        <tr>
            <td>Samarbeidsnavn:</td>
            <td>{{ samarbeid.navn }}</td>
        </tr>
        <tr>
            <td>Samarbeid-Id:</td>
            <td>{{ samarbeid.id }}</td>
        </tr>
        <tr>
            <td>Referanse-id:</td>
            <td>{{ spørreundersøkelse.id }}</td>
        </tr>
        <tr>
            <td>Fullført:</td>
            <td>{{ iso_to_nor_datetime spørreundersøkelse.fullførtTidspunkt }}</td>
        </tr>
        <tr>
            <td>Publisert:</td>
            <td>{{ iso_to_nor_datetime publiseringsdato }}</td>
        </tr>
    </table>
</div>

<div id="footer">
    <span class="navn">{{virksomhet.navn}} ({{virksomhet.orgnummer}})</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>

<header>
    <h1>
        {{> tittel}}
    </h1>
</header>